[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-cellmate
Exec=harbour-cellmate
Name=CellMate
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=harbour-cellmate

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=uk.co.solotel
# ApplicationName does not have to be identical to Name
ApplicationName=cellmate
# Add the required permissions here
Permissions=Connman;Internet;Documents;Location
